[submodule "homm3lua"]
	path = libs/homm3lua
	url = git@github.com:radekmie/homm3lua.git
[submodule "luigi"]
	path = libs/luigi
	url = git@github.com:airstruck/luigi.git
[submodule "libs/eigen"]
	path = libs/eigen
	url = git@github.com:maciek16180/eigen.git
