#/bin/

/bin/_test/*.dot
/bin/_test/*.png
/components/ca/ca
/components/voronoi/voronoi
/h3mapgen.love
/output
/tests/lml/*.png
/tests/lml/*.dot
/tests/params/*output.h3pgm

#Visual Studio files
*.sln
*.db
*.opendb
*.vcxproj
*.vcxproj.filters
src/x64
src/voronoi/x64
src/.vs
src/voronoi/mapa.txt

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Python biniaries
*.pyc

# Python notebook
*.ipynb
*.ipynb_checkpoints
