#/bin/

/bin/_test/*.dot
/bin/_test/*.png

#Visual Studio files
*.sln
*.db
*.opendb
*.vcxproj
*.vcxproj.filters
src/x64
src/voronoi/x64
src/.vs
src/voronoi/mapa.txt

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
