[submodule "eigen"]
    path = libs/eigen
    url = git@github.com:eigenteam/eigen-git-mirror
    shallow = true
[submodule "homm3lua"]
    path = libs/homm3lua
    url = git@github.com:radekmie/homm3lua.git
    shallow = true
[submodule "libigl"]
    path = libs/libigl
    url = git@github.com:libigl/libigl.git
    shallow = true
[submodule "luigi"]
    path = libs/luigi
    url = git@github.com:airstruck/luigi.git
	shallow = true
